:host {
	.question-box {
		position: relative;
		min-height: 300px;
		width: 80%;
		border-radius: 30px;

		.question {
			background-color: #f1f5f7;
		}

    .answer-list button {
     border: 1px solid silver;
    }

    .border-success {
      border: 3px solid #28a745 !important;
    }
	}
}
